@font-face {
  font-family: 'Cormorant-Light';
  src: url('../fonts/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant-Regular';
  src: url('../fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant-Bold';
  src: url('../fonts/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant-Semi-Bold';
  src: url('../fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant-Semi-Bold-Italic';
  src: url('../fonts/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant-Medium-Italic';
  src: url('../fonts/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant-Italic';
  src: url('../fonts/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
}
